<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
     <link href="css/estilos.css" rel="stylesheet" type="text/css">
     <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
     <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
    </head>
    <body>
        <header class="jumbotron my-4">
        <h1 class="display-3" th:text="#{home.bienvenidaOrder}" th:text="#{orderSA.ream}">Registrate ahora mismo</h1>
        <p class="lead"th:text="#{home.bienvenida.descripcionOrder}" th:text="#{orderSA.bestop}">No lo pienses mas, VEDA, tu mejor opcion</p>
      </header>
    </body>
</html>
