<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="productos.css">
    </head>
    
    <header th:replace="./plantilla/template::header"></header> 
    
    <body>
        <div></div>
        <div class='block'> 
            <h1>Quienes somos</h1>
        </div>

        <div>
            <p>En VEDA-GYM somos un gimanasio y una tienda en línea de suplementos Alimenticios-Deportivos y equipo deportivo.
                Contamos con un exepcional equipos de trabajo el cual esta listo para atenderle
                ofrecemos los PRECIOS MAS BAJOS DEL MERCADO de implementos y equipo deportivo.</p>
            <p>Somos un emprendimiento nacional creado por 4 amigos, contamos con dos modelos de negocio al detalle y al por mayor,
                entregamos nuestros productos en toda Costa Rica, somos una empresa eficaz y esto se ve reflejado en nuestros envíos.</p>
            <p>  VEDA-GYM se ha ganado su buena fama y excelentes recomendaciones, por la confianza, seguridad 
                y profesionalismos que brindamos a nuestros clientes.</p>
            <p>Nuestra misión en VEDA-GYM es ser el mejor gimanasio y tienda de productos en el país, ofreciendo un inmejorable precio y
                un excelente servicio, ganándonos la preferencia de los costarricense que entrenan y consumen productos.</p>
            <p>Nuestra visión es expandirnos mas a nivel nacional, ser un gimnasio 100% costarricense entrando al mercado competitivo
                de los suplementos Alimenticios-Deportivos consolidando así nuestra marca VEDA-GYM.</p>
            
            <p>
                Creado por:
            </p>
            <p>
                Esteban Ruiz 
                Dereck Rodriguez
                Sebastian Pacas
                Valeria Ali
            </p>
            <p>
                Since 2022.
            </p>
        </div>

    </body>
</html>
