<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaft.org/extras/spring-security"
      lang="en">
    
    <head th:replace="./plantilla/template::head"></head>
    
    <body>
        <header th:replace="./plantilla/template::header"></header>
        
        <section class="about-us">
            <div class="fit">
                <img src="images/fit-friend.jpg">
                <div class="about-text">
                    <h1>Sobre nosotros</h1>
                    <h3> <span>V</span>EDA<span2>-GYM</span2></h3>
                    <p>En VEDA-GYM somos un gimanasio y una tienda en línea de suplementos Alimenticios-Deportivos y equipo deportivo.
                Contamos con un exepcional equipos de trabajo el cual esta listo para atenderle
                ofrecemos los PRECIOS MAS BAJOS DEL MERCADO de implementos y equipo deportivo.</p>
            <p>Somos un emprendimiento nacional creado por 4 amigos, contamos con dos modelos de negocio al detalle y al por mayor,
                entregamos nuestros productos en toda Costa Rica, somos una empresa eficaz y esto se ve reflejado en nuestros envíos.</p>
            <p>  VEDA-GYM se ha ganado su buena fama y excelentes recomendaciones, por la confianza, seguridad 
                y profesionalismos que brindamos a nuestros clientes.</p>
            <p>Nuestra misión en VEDA-GYM es ser el mejor gimanasio y tienda de productos en el país, ofreciendo un inmejorable precio y
                un excelente servicio, ganándonos la preferencia de los costarricense que entrenan y consumen productos.</p>
            <p>Nuestra visión es expandirnos mas a nivel nacional, ser un gimnasio 100% costarricense entrando al mercado competitivo
                de los suplementos Alimenticios-Deportivos consolidando así nuestra marca VEDA-GYM.</p>
            
                </div>
            </div>
        </section>
        
        
    </body>
</html>
