<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>VEDA GYMS Inventory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <header th:replace="./plantilla/template::header"></header>
    
    <body>
        <div class="container">
            <div class="card-header bg-black text-white"> </div>
            <div class="card-body">
                <!-------------------Esto es un Formulario--------------- -->
                <div class="container">

                    <form th:object = "${product}"
                          th:action="@{/saveProduct}"
                          method="POST"
                          >
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="nombre">Codigo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{c_producto}" required="required" pattern="[0-9]{1,}" placeholder= "Codigo del Producto" id="c_product" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-md-2  col-form-label" for="producto_titulo">Titulo Producto</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{producto_titulo}" required="required" class="form-control form-control-sm col-md-6" placeholder= "Titulo del producto" id="producto_titulo" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-md-2  col-form-label" for="producto_descripcion">Descripcion</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{producto_descripcion}" required="required" class="form-control form-control-sm col-md-6" placeholder= "Descripcion del producto" id="producto_descripcion" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="tipo de producto">Tipo de producto</label>
                            <div class="col-sm-10">
                                <input type="number" th:field="*{tipo_producto}" required="required" pattern="[1-3]{1,3}" min="1" max="3" class="form-control form-control-sm col-md-6" placeholder= "Tipo de producto (1 Proteinas,2 Articulos,3 Maquinas)" id="tipo_producto" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="existencias">Existencias</label>
                            <div class="col-sm-10">
                                <input type="number" th:field="*{existencia}" required="required" pattern="[0-9]{0,}" class="form-control form-control-sm col-md-6" placeholder= "Cantidad de existencias" id="existencia" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="precio de compra">Precio de compra</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{precio_compra}" required="required" pattern="[0-9]{0,}" class="form-control form-control-sm col-md-6" placeholder= "Precio de compra" id="precio_compra" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="precio de venta">Precio de venta</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{precio_venta}" required="required" pattern="[0-9]{0,}" class="form-control form-control-sm col-md-6" placeholder= "Precio de venta" id="precio_venta" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="fecha de compra">Fecha de compra</label>
                            <div class="col-sm-10">
                                <input type="date" th:field="*{fecha_compra}" required="required" min="1997-01-01" max="2030-12-31" class="form-control form-control-sm col-md-6" placeholder= "Fecha de compra (dd-mm-yyyy)" id="fecha_compra" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="fecha de venta">Fecha de venta</label>
                            <div class="col-sm-10">
                                <input type="date" th:field="*{fecha_venta}" required="required" min="1997-01-01" max="2030-12-31" class="form-control form-control-sm col-md-6" placeholder= "Fecha de venta(dd-mm-yyyy)" id="fecha_venta" aria-describedby="emailHelp">
                            </div>
                        </div>
                       <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="supplier">Proveedor</label>
                            <div class="col-sm-10">
                                <select  th:field="*{proveedor}" class="form-control form-control-sm col-md-6" id="supplier" aria-describedby="emailHelp">
                                    <option th:each="x:${suppliers}"
                                            th:value="${x.id}"
                                            th:text="${x.proveedor_nombre}"/>
                                </select>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <footer th:replace="./plantilla/template::footer"></footer>
    </body>
    
</html>
