<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   
    <head th:replace="plantilla/template::head"></head>
    
    <body>
        
        <header th:replace="plantilla/template::header"></header>
        
        <p>
            <br> 
        </p>
        
        <div class="container">
            <div class="card-header bg-black text-white"> </div>
            <div class="card-body">
                <!-------------------Esto es un Formulario--------------- -->
                <div class="container">
                    <form th:object = "${supplier}"
                          th:action="@{/saveSupplier}"
                          method="POST"
                          >
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="nombre">Codigo del proveedor</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{c_proveedor}"  placeholder= "Codigo del proveedor" id="c_proveedor" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-md-2  col-form-label" for="apellido1">Nombre del proveedor</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{proveedor_nombre}" class="form-control form-control-sm col-md-6" placeholder= "Nombre del proveedor" id="proveedor_nombre" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="apellido2">Cedula Juridica</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{cedula_juridica}" class="form-control form-control-sm col-md-6" placeholder= "Cedula juridica correspondiente" id="cedula_juridica" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="telefono">Email del proveedor</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{proveedor_email}" class="form-control form-control-sm col-md-6" placeholder= "Correo Electronico del proveedor" id="proveedor_email" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="email">Telefono del proveedor</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{proveedor_telefono}" class="form-control form-control-sm col-md-6" placeholder= "Telefono del proveedor" id="proveedor_telefono" aria-describedby="emailHelp">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        
        <footer th:replace="plantilla/template::footer"></footer>
    
    </body>
</html>
