<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   
    <head th:replace="plantilla/template::head"></head>
    
    <body>
        
        <header th:replace="plantilla/template::header"></header>
        
        <p>
            <br> 
        </p>
        
        <div class="container">
            <div class="card-header bg-black text-white"> </div>
            <div class="card-body">
                <!-------------------Esto es un Formulario--------------- -->
                <div class="container">
                    <form th:object = "${user}"
                          th:action="@{/saveAccount}"
                          method="POST"
                          >
                        <input type="hidden" th:field="*{id}">
                        <div class="form-group mb-3 row">
                            <label  class="col-md-2 col-form-label" for="nombre">Cedula</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm col-md-6" th:field="*{cedula}"  placeholder= "Cedula" id="cedula" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-md-2  col-form-label" for="nombre">Nombre del usuario</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-6" placeholder= "Nombre" id="nombre" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="apellido_1">Primer Apellido</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{apellido_1}" class="form-control form-control-sm col-md-6" placeholder= "Primer Apellido" id="apellido_1" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm col-form-label col-md-2" for="apellido_2">Segundo apellido</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{apellido_2}" class="form-control form-control-sm col-md-6" placeholder= "Segundo apellido" id="apellido_2" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="email">Email</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{email}" class="form-control form-control-sm col-md-6" placeholder= "Email" id="email" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="direccion">Direccion</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{direccion}" class="form-control form-control-sm col-md-6" placeholder= "Direccion" id="direccion" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="telefono">Telefono</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{telefono}" class="form-control form-control-sm col-md-6" placeholder= "Telefono" id="telefono" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="password">Password</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{password}" class="form-control form-control-sm col-md-6" placeholder= "Password" id="password" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="permissions">Permisos</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{permissions}" class="form-control form-control-sm col-md-6" placeholder= "Permisos(ADMIN, CUSTOMER)" id="permissions" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="roles">Roles</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{telefono}" class="form-control form-control-sm col-md-6" placeholder= "Roles(ADMIN, CUSTOMER)" id="roles" aria-describedby="emailHelp">
                            </div>
                        </div>
                        <div class="form-group mb-3 row">
                            <label  class="form-control-sm  col-form-label col-md-2" for="roles">Activo</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{active}" class="form-control form-control-sm col-md-6" placeholder= "Activo(Si 1, No 2)" id="active" aria-describedby="emailHelp">
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary" value="Guardar">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        
        <footer th:replace="plantilla/template::footer"></footer>
    
    </body>
</html>