<html>
    <head>
        <title>Articulos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link rel="stylesheet" href="productos.css">
    </head>
    <body>
        
    <header th:replace="./plantilla/template::header"></header>
        
         <section id="clothes" class="my-5">
            <div class="container text-center mt-5 py-5">
                <h3 th:text="#{articulos.accessories}">Accessories</h3> <!-- Texto -->
                <hr class="mx-auto">
                <p th:text="#{articulos.Text_of}">Te ofrecemos estos artículos que te ayudarán con
                    tu experiencia en el gimnasio</p> <!-- Texto -->
            </div>
            <div class="row mx-auto container-fluid">
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/mochila.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Mochila Deportiva</h5>
                    <p>Mochila Deportiva JanSport</p>
                    <h4 class="p-price">$130.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/guantes.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Guantes</h5>
                    <p>Guantes de Entrenamiento</p>
                    <h4 class="p-price">$42.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/boxing.jpg" width=600px height=600px  alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Set Boxing</h5>
                    <p>Guantes, Saco y Protectores</p>
                    <h4 class="p-price">$34.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/pesas.jpg" width=210px height=210px alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Set de Pesas</h5>
                    <p>Pesas multicolores hasta las 12 lbs</p>
                    <h4 class="p-price">$30.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/poleas2.png" width=225px height=225px alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Set Poleas</h5>
                    <p>Manivelas para el manejo de poleas</p>
                    <h4 class="p-price">$55.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
               
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=220px height=220px src="images/caja.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Caja Pliométrica</h5>
                    <p>Caja StepUp</p>
                    <h4 class="p-price">$86.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=218px height=218px src="images/bola.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Bola Masajeadora</h5>
                    <p>Bola de Plastico para sentadillas</p>
                    <h4 class="p-price">$74.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=215px height=215px src="images/yoga.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Tapete</h5>
                    <p>Tapete plástico para Yoga</p>
                    <h4 class="p-price">$45.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
             
            </div>
        </section>
        
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
       
    </body>
</html>
