<!DOCTYPE html>
<html>
    <head>
        <title> Contact us Section </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/contact_us.css"/>
    </head>
    <body>
        <div class="contact-us"> 

            <div class="formulario">      
                <h1>CONTÁCTENOS</h1>
                <h1>HOY MISMO!</h1>
                <p>Envianos tu informacion y pronto recibira respuesta
                    por parte de nuestro colaboradoes</p>


            <form action="submeter-formulario.php" method="post">       

                <p>
                    <label for="name" class="digite_nom">Nombre
                        <span class="Obligatorio">*</span>
                    </label>
                    <input type="text" name="digite_nom" id="nombre" required="Obligatorio" placeholder="Escriba su nombre completo">
                </p>

                <p>
                    <label for="email" class="digite_email">Correo
                        <span class="Obligatorio">*</span>
                    </label>
                    <input type="email" name="introducir_email" id="email" required="Obligatorio" placeholder="Escriba su email">
                </p>

                <p>
                    <label for="phone" class="digite_num">Telefono

                    </label>
                    <input type="" name="introducir_telefono" id="telefono" placeholder="Digite su numero telefonico">
                </p>    

                <p>
                    <label for="mensaje" class="colocar_menssag">Mensaje
                        <span class="Obligatorio">*</span>
                    </label>                     
                    <textarea name="introducir_mensaje" class="texto_mensaje" id="mensaje" required="Obligatorio" placeholder="Deja aquí su mensaje..."></textarea> 
                </p>                    

                <button type="submit" name="enviar_formulario" id="enviar"><p>Enviar formulario</p></button>

                <p class="aviso">
                    <span class="obligatorio"> * </span> Campos obligatorios.
                </p>          

            </form>
        </div>  

    </body>
</html>