<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaft.org/extras/spring-security"
      lang="en">
    
    <head th:replace="./plantilla/template::head"></head>
    
    <body>
        <section class="error-menssage">
            <section class="error-menssage_container">
                <h1 class="animated bounce">404</h1>
                <p>Error de busqueda, pagina no encontrada</p>
            </section>
        </section>
        
        <footer class="footer">
            <a href="/">Terminos y condiciones</a>
            <a href="/">Centro de ayuda</a>
            <a href="/">Veda-GYM</a>
        </footer>
    </body>
</html>
