<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaft.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <section th:fragment="listadoArticulos" id="products">
            <div class="container">
                <div class="row row-cols-3"
                     th:if="${products != null and !products.empty}">
                    <div class="card" th:each="product : ${products}">
                        <div class="card-body">
                            <h5 class="card-title">[[${product.producto_titulo}]]</h5>
                            <h6 class="card-subtitle mf-2 text-muted text-end">
                                [[${new java.text.DecimalFormat('c#,##0.00').format(product.precio)}]]
                            </h6>
                            <img th:src="@{${product.ruta_imagen}}" width="120"/>
                            <a class="card-link" th:href="@{/carrito/agregar} + ${product.id}">Agregar al carrito</a>
                            <p class="card-text">[[${product.producto_descripcion}]]</p>
                        </div>
                    </div>
                </div>
<!--                <div th:if="${productos == null or productos.empty}">
                    [[#{producto.no_mostrar}]]
                </div>-->
            </div>
        </section>
        
    </body>
</html>
