<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaft.org/extras/spring-security"
      lang="en">
    
    <head th:replace="./plantilla/template::head"></head>
    <body>
        
        <section th:fragment="listadoArticulos" id="products">
            <div class="container">
                <div class="row row-cols-2">
                    <h2 class="inline">Productos y Maquinas</h2>
                    <div id="resultBlock">
                        
                    </div>
                </div>
                
                <div class="row row-cols-3"
                     th:if="${products != null and !products.empty}">
                    <div class="card" th:each="product : ${products}">
                        <div class="card-body">
                            <h5 class="card-title">[[${product.producto_titulo}]]</h5>
                            
                            <figure>
                                <img th:src="@{${product.ruta_imagen}}" width="120"/>
                                <figcaption>
                                    [[${new java.text.DecimalFormat('c#,##0.00').format(product.precio)+'('+product.inventario+')'}]]
                                </figcaption>
                            </figure>
                            <form>
                                <input type='hidden' name='texto' th:value='${product.id}'/>
                                <input type='hidden' name='texto' th:value='${product.inventario}'/>
                                <button class='btn fa-cart-plus'
                                        id='addCart'
                                        name='addCart'
                                        onclick='addCart(this.form)'
                                        type='button'>
                                    <i class="fas fa-cart-plus"></i>        
                                </button>
                            </form>
                            <p class="card-text">[[${product.producto_descripcion}]]</p>
                            <div th:if="${productos == null or productos.empty}">
                                No hay productos disponibles en este momento
                            </div>
                            <a class="card-link" th:href="@{/carrito/agregar} + ${product.id}">Agregar al carrito</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div th:fragment="verCarrito" th:unless="${lists.isEmpty(listaItems)}">
            <form action="/carrito/listado">
                <button
                    type="submit"
                    class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i>[[#{carrito.verCarrito}]] [[${listaTotal}]]
                </button>
            </form>
        </div>
        
    </body>
</html>
