<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Inventario</title>
      
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        
        <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <!<!-- poner el logo del gym -->
          <img src="./images/VEDA logo png.png" height="15"
          alt="VEDA Logo" loading="lazy" />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#" th:text="#{home.inicio}">Home</a> <!-- Texto de home -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:text="#{home.suplementos}">Supplemets</a> <!-- texto de home -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:text="#{templates.props}">Props</a> <!-- Texto de home -->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:text="#{home.contactenos}">Contact Us</a> <!-- Texto de home -->
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"></i>
        <img src="./images/shopping cart.png" height="5" alt="shopping cart">
      </a>

      <!-- Notifications -->
      <div class="text-reset me-3">
      </div>
      
      
      <!-- Avatar -->
      <div class="text-reset me-3">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
          id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown"
          aria-expanded="false">
          <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle"
            height="25" alt="Black and White Portrait of a Man" loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          <li>
              <a class="dropdown-item" href="#" th:text="#{inventory.mp}">My profile</a> <!-- texto -->
          </li>
          <li>
              <a class="dropdown-item" href="#" th:text="#{inventory.set}">Settings</a> <!-- texto -->
          </li>
          <li>
              <a class="dropdown-item" href="#" th:text="#{inventory.logout}">Logout</a> <!-- texto -->
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container" style="height: 50vh;">

</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
        <span th:text="#{inventory.text_sp}">Get connected with us on social networks:</span> <!-- texto -->
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3" ></i>VEDAGYM <!-- decia Company name -->
          </h6>
          <p th:text="#{inventory.text_ht}"> <!-- texto -->
              Here you can use rows and columns to organize your footer content. Lorem ipsum 
              dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
   
        <!-- Grid column -->

        <!-- Grid column -->
      
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4" th:text="#{home.contactenos}">Contact us</h6> <!-- Texto de home -->
          <p><i class="fas fa-home me-3"></i> San José, Costa Rica </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            vedagym@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +506 2565-3131</p>
          <p><i class="fas fa-print me-3"></i> +506 3256-7490</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="#">vedagym.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
    </body>
</html>
