<html>
    <head>
        <title>Machines</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
       <link rel="stylesheet" href="productos.css">
       
    </head>
    <body>
         <header th:replace="./plantilla/template::header"></header>
        
        <section id="clothes" class="my-5">
            <div class="container text-center mt-5 py-5">
                <h3 th:text="#{maquinas.tm}">Training machine</h3> <!-- texto -->
                <hr class="mx-auto">
                <p th:text="#{maquinas.tm_text}">We offer you these machines to build your own gym at home.</p> <!-- texto -->
            </div>
            <div class="row mx-auto container-fluid">
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/m-poleas2.jpg" width=250px height=250px  alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name" th:text="#{maquinas.prd_p}">Pulleys</h5> <!-- texto -->
                    <p th:text="#{maquinas.p_text}">Pulley Machine</p> <!-- texto -->
                    <h4 class="p-price">$800.00</h4>
                    <button class="buy-btn" th:text="#{maquinas.p_compra}">Buy</button> <!-- Texto -->
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/m-pesas.jpg" width=200px height=200px alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name" th:text="#{maquinas.prd_mp}">Weight machine</h5> <!-- texto -->
                    <p th:text="#{maquinas.mp_text}">Weight Lifting Machine</p> <!-- texto -->
                    <h4 class="p-price">$1,500.00</h4>
                    <button class="buy-btn" th:text="#{maquinas.p_compra}">Buy</button> <!-- Texto -->
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/m-piernas.png" width=175px height=175px  alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name" th:text="#{maquinas.prd_mpp}">Leg Machine</h5> <!-- texto -->
                    <p th:text="#{maquinas.mpp_text}">Leg Raising Machine</p> <!-- texto -->
                    <h4 class="p-price">$1,645.00</h4>
                    <button class="buy-btn" th:text="#{maquinas.p_compra}">Buy</button> <!-- Texto -->
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/m-abdo.jpg" width=220px height=220px  alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name" th:text="#{maquinas.prd_plch}">Chest press</h5> <!-- texto -->
                    <p th:text="#{maquinas.plch_text}">Chest press machine</p> <!-- texto -->
                    <h4 class="p-price">$950.00</h4>
                    <button class="buy-btn" th:text="#{maquinas.p_compra}">Buy</button> <!-- Texto -->
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/m-caminadora.jpg" width=225px height=225px alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name" th:text="#{maquinas.prd_cmd}">Treadmill</h5> <!-- texto -->
                    <h4 class="p-price">$55.00</h4>
                    <p th:text="#{maquinas.cmd_text}">Leg exercise machine</p> <!-- texto -->
                    <button class="buy-btn" th:text="#{maquinas.p_compra}">Buy</button> <!-- Texto -->
                </div>
               
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=220px height=220px src="images/m-brazos.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name" th:text="#{maquinas.prd_mb}">Arm machine</h5> <!-- texto -->
                    <h4 class="p-price">$2,000.00</h4> 
                    <p th:text="#{maquinas.mb_text}">Upper body lifting machine</p> <!-- texto -->
                    <button class="buy-btn" th:text="#{maquinas.p_compra}">Buy</button> <!-- Texto -->
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=250px height=250px src="images/m-bicicleta.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name" th:text="#{maquinas.prd_bc}">Stationary bicycle</h5> <!-- texto -->
                    <p th:text="#{maquinas.bc_text}">Lower body exercise machine</p> <!-- texto -->
                    <h4 class="p-price">$950.00</h4> 
                    <button class="buy-btn" th:text="#{maquinas.p_compra}">Buy</button> <!-- Texto -->
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=250px height=250px src="images/m-superior.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name" th:text="#{maquinas.prd_pl2}">Pulleys 2.0</h5> <!-- texto -->
                    <p th:text="#{maquinas.pl2_text}">Upper body exercise machine</p> <!-- texto -->
                    <h4 class="p-price">$1,150.00</h4> 
                    <button class="buy-btn" th:text="#{maquinas.p_compra}">Buy</button> <!-- Texto -->
                </div>
             
            </div>
        </section>
      
        <footer th:replace="./plantilla/template::footer"></footer>
        
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    </body>
</html>
