<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Máquinas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
       <link rel="stylesheet" href="productos.css">
       
    </head>
    <body>
         <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container">
     <img src="../static/images/dumbbell-icon.png" alt="VEDA Gym Logo">
      <h4>VEDA</h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" href="#">Articulos</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" href="#">Suplementos</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nosotros</a>
        </li>
        
         <li class="nav-item">
          <a class="nav-link" href="#">Contáctenos</a>
        </li>
        
         <li class="nav-item">
          <img  src="../static/images/search.png"></img>
          <img src="../static/images/shopping-cart.png"></img>
        </li>
    </div>
  </div>
</nav>
        
        <section id="clothes" class="my-5">
            <div class="container text-center mt-5 py-5">
                <h3>Máquinas de Entrenamiento</h3>
                <hr class="mx-auto">
                <p>Te ofrecemos estas máquinas para armar tu propio
                gimnasio en casa.</p>
            </div>
            <div class="row mx-auto container-fluid">
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="../static/images/m-poleas2.jpg" width=250px height=250px  alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Poleas</h5>
                    <p>Máquina para Poleas</p>
                    <h4 class="p-price">$800.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="../static/images/m-pesas.jpg" width=200px height=200px alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Máquina Pesas</h5>
                    <p>Máquina de Levantamiento de Pesas</p>
                    <h4 class="p-price">$1,500.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="../static/images/m-piernas.png" width=175px height=175px  alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Máquina para Piernas</h5>
                    <p>Máquina levantamiento Piernas</p>
                    <h4 class="p-price">$1,645.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="../static/images/m-abdo.jpg" width=220px height=220px  alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Plancha</h5>
                    <p>Plancha para Abdominales</p>
                    <h4 class="p-price">$950.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="../static/images/m-caminadora.jpg" width=225px height=225px alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Caminadora</h5>
                    <h4 class="p-price">$55.00</h4>
                    <p>Máquina para ejercitar piernas</p>
                    <button class="buy-btn">Compra</button>
                </div>
               
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=220px height=220px src="../static/images/m-brazos.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Máquina de Brazos</h5>
                    <h4 class="p-price">$2,000.00</h4>
                    <p>Máquina para el levantamiento del tren superior</p>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=250px height=250px src="../static/images/m-bicicleta.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Bicicleta</h5>
                    <p>Máquina para ejercitar el tren inferior</p>
                    <h4 class="p-price">$950.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=250px height=250px src="../static/images/m-superior.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Poleas 2.0</h5>
                    <p>Máquina para ejercitar tren superior</p>
                    <h4 class="p-price">$1,150.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
             
            </div>
        </section>
      
        <footer th:replace="./plantilla/template::footer"></footer>
        
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    </body>
</html>
