<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
       <title>Suplementos</title>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
       <link rel="stylesheet" href="css/productos.css">
       
       <style>
           
       </style>
        
    </head>
    <body>
        
        <header th:replace="./plantilla/template::header"></header>
        
        <section id="clothes" class="my-5">
            <div class="container text-center mt-5 py-5">
                <h3>Suplementos</h3>
                <hr class="mx-auto">
                <p>Estos suplementos te ayudaran a fortalecer tu condicion fisica</p>
            </div>
            <div class="row mx-auto container-fluid">
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/proteina.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Proteina</h5>
                    <p>Proteina marca WHEY 780g</p>
                    <h4 class="p-price">$96.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/gel.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Gel</h5>
                    <p>Energy Gel Roctane</p>
                    <h4 class="p-price">$23.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/electrolitos.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Electrolitos</h5>
                    <p>Electrolitos en capsulas Roctane</p>
                    <h4 class="p-price">$34.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/vita3.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Vitaminas</h5>
                    <p>Vitamina C de 500mg</p>
                    <h4 class="p-price">$30.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" src="images/cr.png" width=225px height=225px alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Creatina</h5>
                    <h4 class="p-price">$55.00</h4>
                    <p>Creatina marca MuscleTech 870g</p>
                    <button class="buy-btn">Compra</button>
                </div>
               
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=220px height=220px src="images/a.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Energy Drink</h5>
                    <h4 class="p-price">$22.00</h4>
                    <p>Amino Energy Drink 500ml</p>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=218px height=218px src="images/fat-burner.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Fat Burner</h5>
                    <p>LipoBlack 5 Fat Burner</p>
                    <h4 class="p-price">$58.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
                <div class="product text-center col-lg-3 col-md4 col-12">
                    <img class="img-fluid mb-3" width=215px height=215px src="images/nitraflex.jpg" alt="">
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h5 class="p-name">Nitraflex</h5>
                    <p>Enchancing Powder 780g</p>
                    <h4 class="p-price">$45.00</h4>
                    <button class="buy-btn">Compra</button>
                </div>
             
            </div>
        </section>
      
        <footer th:replace="./plantilla/template::footer"></footer>
        
 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
       

    </body>
</html>
