<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    
<head th:replace="plantilla/template::head"></head>

  
  <body>    
    <header th:replace="plantilla/template::header"></header>
    
    <p>
        <br> 
    </p>
    
    <h1 th:text="${titleSupplier}" th:text="#{supplierlist.tit}"></h1> <!-- Texto -->
    <h3 th:text="#{supplierlist.sub_tit}">Area administrativa</h3> <!-- Texto -->
    
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" th:text="#{supplierlist.cod}">Code</th> <!-- Texto -->
      <th scope="col" th:text="#{supplierlist.name}">Name</th> <!-- Texto -->
      <th scope="col" th:text="#{supplierlist.ced}">Legal ID</th> <!-- Texto -->
      <th scope="col" th:text="#{supplierlist.email}">Email</th> <!-- Texto -->
      <th scope="col" th:text="#{supplierlist.tel}">Phone</th> <!-- Texto -->
      <th scope="col" th:text="#{supplierlist.edit}">Edit</th> <!-- Texto -->
      <th scope="col" th:text="#{supplierlist.delit}">Delet</th> <!-- Texto -->
    </tr>
  </thead>
  
  <tbody> 
      <th:block th:each="user : ${suppliers}">
          <tr>
           <td th:text="${user.getC_proveedor}"></td>
           <td th:text="${user.getProveedor_nombre}"></td>
           <td th:text="${user.getCedula_juridica}"></td>
           <td th:text="${user.getProveedor_email}"></td>
           <td th:text="${user.getProveedor_telefono}"></td>
           <td>
               <a th:href="@{/editSupplier/{id}(id=${user.getId})}" th:text="#{supplierlist.edit}">Edit</a> <!--falta--> <!-- Texto -->
           </td>
           <td>
               <a th:href="@{/deleteSupplier/{id}(id=${user.getId})}" th:text="#{supplierlist.delit}">Delete</a> <!--falta--> <!-- Texto -->
           </td>
          </tr>
      </th:block>
  </tbody>
</table>
    <p><a th:href="@{/addSupplier}" th:text="#{supplierlist.add}">Add Provider</a></p> <!-- Texto -->
    
    
<footer th:replace="plantilla/template::footer"></footer>
    
</body>
  
</html>
