<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>terms and conditions</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </head>
    <header th:replace="./plantilla/template::header"></header>
    <body>
         <!-- Informacion -->
         <div class = "general" style="font-family: 'Poppins', sans-serif;">
            <div class = "Info" style="text-align: center;">
                <!-- Texto superior -->
                <h1>TERMS AND CONDITIONS</h1>
                <p style="width: 50rem; margin-left: 200px">This section is dedicated to informing about our terms and conditions that we impose on our users for the use of our website, this with the aim of achieving a full understanding of our users of the rules of use of our web address to give you a good service. to customers who visit this address </p>
            </div>
            <!-- Acordeon de terminos -->
            <!-- Se especificaron los cambios de css en las clases dentro del html -->
            <div class = "acordion" " style="text-align: center; " >
                <div class="accordion" id="accordionPanelsStayOpenExample" style="width: 45rem;">
                <div class="accordion-item"  style="color: #74abb3;">
                  <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                      General Use
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                      <strong>You purchase the Goods in your local currency.</strong> and at a price that normally includes any applicable sales taxes (such as Value Added Tax, Goods and Services Tax, Consumption Tax), plus delivery charges and fees ("Shipping Charges") and, if available for payment in advance, any import duties, duties, and similar fees that may be imposed by the delivery destination ("Import Charges"). the option not to prepay import charges is available to your country, and you have chosen such an option, If you have chosen, please be aware that the carrier or broker of your choice may impose fees that cannot be calculated and/or estimated at the time of Checkout.
                    </div>
                  </div>
                </div>
                <div class="accordion-item" style="color: #74abb3;">
                  <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                      Payment method
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                      <strong>You can make the payment using any of the methods specified on the Payment Page.</strong> The availability of different payment methods will depend on your geographic location. When a charge is made to your account, the transaction description will include the reference "Global-e" and will look something like this: **Global-e//Retailer**. In some cases, the recipient of the payment may be an intra-group affiliate acting as our agent; in this case, once said payment has been made, you will be released from your payment obligations in relation to the purchase of the Merchandise.
                      You acknowledge and agree that: (i) Global-e or a third party acting as your payment processor ("Payment Processor"), will charge you, through the payment method you have selected on the Payment Page, the cost of the Order and any other amount related to the Order and that is applicable by virtue of these Conditions; (ii) you will provide valid and current information about your identity; (iii) Global-e may use tools, software or services of Payment Processors to process transactions on your behalf.
                    </div>
                  </div>
                </div>
                <div class="accordion-item" style="color: #74abb3;">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Payments and other services
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                      <strong>The prices of the Products displayed are indicated in dollars, and with all taxes included.</strong> Any other cost associated with the purchase, such as, but not limited to, shipping services, gift wrapping services or any other that VEDA-GYM may offer to its Users at its sole discretion will be charged separately and will be indicated in the summary. of the purchase order to be paid by the User. Said cost of home delivery is subject to the place where the product will be delivered. 
                    </div>
                  </div>
                </div>
                <div class="accordion-item" style="color: #74abb3;">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Codes and conducts
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        <strong><!-- comment --></strong> *Be original. Only post User Content on the Platform if you have all necessary permissions and rights to make such User Content available, as well as to any individual appearing or mentioned in your User Content.<br/>
                        *Be safe:<br/>
                        -Do not do anything that could expose NIKE or its users to any type of harm, including anything that could interrupt, damage, disable, manipulate, overload or limit the functionality of the Platform.<br/>
                        -Do not post User Content that contains software viruses, programs or other computer code, and do not circumvent or circumvent any security software or technology on the Platform.<br/>
                        -Do not use data mining, robots, "scraping" or similar data collection methods.<br/>
                        -Unless otherwise indicated, our Platform is a public site. Do not post personal information on the Platform, either your own or that of anyone else<br/>
                    </div>
                  </div>
                </div>
                <div class="accordion-item" style="color: #74abb3;">
                  <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                      Account responsibility
                    </button>
                  </h2>
                  <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                      <strong>In order to make purchases more quickly, as well as to have access to certain access content only for Registered Users.</strong> the User must register an account, as indicated in the SECOND clause above. This account will be assigned a username and password.<br/>
                      The User is solely responsible for keeping his name, username and password of his account on the VEDA-GYM website confidential, since it will contain sensitive information such as, for example, but not limited to the registered card for payment purposes. and information about purchases made.<br/>
                      Every User accepts responsibility for any illegal or unauthorized activity in accordance with these Terms and Conditions, which is carried out through the use of their registered account at VEDA-GYM. In this sense, the Registered User undertakes not to allow the use of his account by third parties, especially by minors.<br/>

                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        
    </body>
</html>
