<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaft.org/extras/spring-security"
      lang="en">
    
    <head th:replace="./plantilla/template::head"></head>

  
  <body>    
    <header th:replace="plantilla/template::header"></header>
    
    <p>
        <br> 
    </p>
    
    <h1 th:text="${titleUser}"></h1>
    <h3 th:text="#{human.sub_title}">Administrative Area</h3> <!-- Texto -->
    
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" th:text="#{human.ced}">Cedula</th> <!-- Texto -->
      <th scope="col" th:text="#{human.name}">Nombre</th> <!-- Texto -->
      <th scope="col" th:text="#{human.ape}">Primer Apellido</th> <!-- Texto -->
      <th scope="col" th:text="#{human.apell}">Segundo Apellido</th> <!-- Texto -->
      <th scope="col" th:text="#{human.email}">Email</th> <!-- Texto -->
      <th scope="col" th:text="#{human.dirc}">Direccion</th> <!-- Texto -->
      <th scope="col" th:text="#{human.tel}">Telefono</th> <!-- Texto -->
      <th scope="col" th:text="#{human.password}">Password</th> <!-- Texto -->
    </tr>
  </thead>
  
  <tbody> 
      <th:block th:each="user : ${users}">
          <tr>
           <td th:text="${user.getCedula}"></td>
           <td th:text="${user.getNombre}"></td>
           <td th:text="${user.getApellido_1}"></td>
           <td th:text="${user.getApellido_2}"></td>
           <td th:text="${user.getEmail}"></td>
           <td th:text="${user.getDireccion}"></td>
           <td th:text="${user.getTelefono}"></td>
           <td th:text="${user.getPassword}"></td>
           <td th:text="${user.getPermissions}"></td>
           <td th:text="${user.getRoles}"></td>
           <td th:text="${user.getActive}"></td>
           <td>
               <a th:href="@{/editUser/{id}(id=${user.getId})}" th:text="#{human.edit}">Edit</a> <!--falta--> <!-- Texto -->
           </td>
           <td>
               <a th:href="@{/deleteUser/{id}(id=${user.getId})}" th:text="#{human.delete}">Delete</a> <!--falta--> <!-- Texto -->
           </td>
          </tr>
      </th:block>
  </tbody>
</table>
    <p><a th:href="@{/addUser}" th:text="#{human.add}">Agregar Cliente</a></p> <!-- Texto -->
    
    
<footer th:replace="plantilla/template::footer"></footer>
    
</body>
  
</html>
